/Asvarduil.Penumbra/.vs
/Asvarduil.Penumbra/Asvarduil.Penumbra/bin
/Asvarduil.Penumbra/Asvarduil.Penumbra/obj
/Asvarduil.Penumbra/Asvarduil.Penumbra.DataCore/bin
/Asvarduil.Penumbra/Asvarduil.Penumbra.DataCore/obj
/Asvarduil.Penumbra/Asvarduil.Penumbra.QuestEngine/obj
/Asvarduil.Penumbra/Asvarduil.Penumbra.QuestEngine/bin
/Asvarduil.Penumbra/Asvarduil.Penumbra.Services/bin
/Asvarduil.Penumbra/Asvarduil.Penumbra.Services/obj
/Asvarduil.Penumbra/Asvarduil.Penumbra.StarMadeCore/obj
/Asvarduil.Penumbra/Asvarduil.Penumbra.StarMadeCore/bin
/Asvarduil.Penumbra/Asvarduil.Penumbra.Tests/obj
/Asvarduil.Penumbra/Asvarduil.Penumbra.Tests/bin
/Asvarduil.Penumbra/TestResults
/Asvarduil.Penumbra/Asvarduil.Penumbra.DataCore/Asvarduil.Penumbra.DataCore.csproj.user
